<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <div class="header">
        <h1>Fireball</h1>
        <p>Small Business Management</p>
    </div>
</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="#">Clientele</a>
                </li>
                <li>
                    <a href="#">Finances</a>
                </li>
                <li>
                    <a href="#">Statistics</a>
                </li>
                <li>
                    <a href="#">Products</a>
                </li>
                <li>
                    <a href="#">Orders and Fulfillment</a>
                </li>
                <li>
                    <a href="#">Documents</a>
                </li>
                <li>
                    <a href="#">Employees</a>
                </li>

            </ul>
        </div>
        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
        <!-- /#page-content-wrapper -->
        <div class="container body-content">

            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
