<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Fireball</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/fe267861ed.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="@Url.Action("Dashboard", "Home")">
            <img src="https://openclipart.org/image/800px/201477" width="30" height="30" class="d-inline-block align-top" alt="">
            Fireball
        </a>
        <!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="@Url.Action("Logout", "UserAccount")">Sign out</a>
            </li>
        </ul>
    </nav>
    <div id="wrapper" class="area">

        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div id="sidebar-wrapper" class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("Dashboard", "Home")">
                            <i class="fas fa-th-large"></i>
                            <span data-feather="home"></span>
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Client", "Home")">
                            <i class="fas fa-user-friends"></i>
                            <span data-feather="file"></span>
                            Clientele
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Finance", "Home")">
                            <i class="fas fa-dollar-sign"></i>
                            <span data-feather="shopping-cart"></span>
                            Finances
                        </a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Statistics", "Home")">
                            <i class="fas fa-book"></i>
                            <span data-feather="users"></span>
                            Statistics
                        </a>
                    </li>
                    -->
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Contact", "Home")">
                            <i class="fas fa-book"></i>
                            <span data-feather="users"></span>
                            Contact
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("About", "Home")">
                            <i class="fas fa-book"></i>
                            <span data-feather="users"></span>
                            About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Products", "Home")">
                            <i class="fas fa-box-open"></i>
                            <span data-feather="bar-chart-2"></span>
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Orders", "Home")">
                            <i class="fas fa-dolly"></i>
                            <span data-feather="layers"></span>
                            Orders and Fulfillment
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Documents", "Home")">
                            <i class="fas fa-file-upload"></i>
                            <span data-feather="layers"></span>
                            Documents
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Employees", "Home")">
                            <i class="fas fa-user-tie"></i>
                            <span data-feather="layers"></span>
                            Employees
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- /#page-content-wrapper -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Team Fireball 2021</p>
                </footer>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
