<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Fireball</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/fe267861ed.js" crossorigin="anonymous"></script>
</head>
<body>
<header>

</header>
<div id="wrapper" class="area">
    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="main-menu">
        <ul class="sidebar-nav">

            <li><a href="@Url.Action("Index", "Home")" class="nav-text"><i class="fas fa-th-large"></i>&ensp;&ensp;Dashboard</a></li>
            <li><a href="@Url.Action("About", "Home")" class="nav-text"><i class="fas fa-user-friends"></i>&ensp;&ensp;Clientele</a></li>
            <li><a href="@Url.Action("Contact", "Home")" class="nav-text"><i class="fas fa-dollar-sign"></i>&ensp;&ensp;Finances</a></li>
            <li><a href="@Url.Action("Contact", "Home")" class="nav-text"><i class="fas fa-book"></i>&ensp;&ensp;Statistics</a></li>
            <li><a href="@Url.Action("Contact", "Home")" class="nav-text"><i class="fas fa-box-open"></i>&ensp;&ensp;Products</a></li>
            <li><a href="@Url.Action("Contact", "Home")" class="nav-text"><i class="fas fa-dolly"></i>&ensp;&ensp;Orders and Fulfillment</a></li>
            <li><a href="@Url.Action("Contact", "Home")" class="nav-text"><i class="fas fa-file-upload"></i>&ensp;&ensp;Documents</a></li>
            <li><a href="@Url.Action("Contact", "Home")" class="nav-text"><i class="fas fa-user-tie"></i>&ensp;&ensp;Employees</a></li>
        </ul>
    </div>
    <!-- /#page-content-wrapper -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/js")
@RenderSection("scripts", required: false)
</body>
</html>
