@model teamfb.Models.DashboardModel

@using Newtonsoft.Json
@{
    ViewBag.Title = "Dashboard";
}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
<div class="row">
    <div class="card-title">
        <div>
            <h2 class="dashboard-welcome">Welcome back, @ViewBag.Name</h2>
        </div>
    </div>
</div>
<div class="row text-center">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@ViewBag.Count</h5>
            </div>
            <div class="card-header">
                <p class="card-text">Total Orders</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@ViewBag.BestMonth</h5>
            </div>
            <div class="card-header">
                <p class="card-text">Best Month</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@ViewBag.sumbalance</h5>
            </div>
            <div class="card-header">
                <p class="card-text">Total Balance</p>
            </div>
        </div>
    </div>
</div>
<div class="row pt-5 text-center">
    <div class="col-sm-9">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title text-left">Sale Numbers By Month</h5>
            </div>
            <div class="card-body">
                <canvas id="chartjs-1"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title text-left">Notes</h5>
            </div>
            <div class="card-body">
                <div class="note">
                    <p class="card-text">Start order #74927</p>
                </div>
                <div class="note">
                    <p class="card-text">Call Jane regarding product color.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var data = @Html.Raw(JsonConvert.SerializeObject(Model));

    console.log(data);

    var labels = data.data.labels;
    var quantities = data.data.datasets.data;
   
    new Chart(document.getElementById("chartjs-1"),
    {
        "type": "bar",
        "data": {
                "labels": labels,
            "datasets": [{
                "data": quantities,
                "fill": false,
                "backgroundColor": [
                    "rgba(255, 99, 132, 0.2)",
                    "rgba(255, 159, 64, 0.2)",
                    "rgba(255, 205, 86, 0.2)",
                    "rgba(75, 192, 192, 0.2)",
                    "rgba(54, 162, 235, 0.2)",
                    "rgba(153, 102, 255, 0.2)",
                    "rgba(201, 203, 207, 0.2)",
                    "rgba(153, 102, 255, 0.2)",
                    "rgba(50, 102, 255, 0.2)",
                    "rgba(50, 200, 255, 0.2)",
                    "rgba(153, 102, 39, 0.2)",
                    "rgba(40, 150, 200, 0.2)",
                ],
                "borderColor": [],
                "borderWidth": 1
            }]
        }, "options": {
            "legend": {
                "display": false
            },
                "scales": {
                    "yAxes": [
                        {
                            "ticks": {
                                "beginAtZero": true
                            }
                        }]
                }
        }
    });

</script>