@model IEnumerable<teamfb.Models.Document>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Documents";
}
@Styles.Render("~/Content/Clients")
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<!-- Example taken from https://codepen.io/gungorbudak/pen/ooKNpz -->
<div class="form-group has-search form-inline">
    <span class="fa fa-search form-control-feedback pr-3"></span>
    <input type="text" class="form-control" placeholder="Search Documents">
    <div class="dropdown pl-3">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
            Sort By
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Newest</a>
            <a class="dropdown-item" href="#">Oldest</a>
        </div>
    </div>
</div>
<form class="form-signin" method="post" enctype="multipart/form-data">
    <input type="file" name="Data" id="fileToUpload">
    <input type="submit" value="Upload File" name="submit">
</form>
<!--Image Gallery-->
<table class="table table-hover table-fixed">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                <script>
                    function download(filename, text) {
                        var pom = document.createElement('a');
                        pom.setAttribute('href', 'data:application/octet-stream;charset=utf-8,' + encodeURIComponent(text));
                        pom.setAttribute('download', filename);

                        if (document.createEvent) {
                            var event = document.createEvent('MouseEvents');
                            event.initEvent('click', true, true);
                            pom.dispatchEvent(event);
                        }
                        else {
                            pom.click();
                        }
                    }
                </script>
                <button onclick="download('@Html.DisplayFor(modelItem => item.name)', '@Html.DisplayFor(modelItem => item.data)' )">Click me</button>
            </td>
        </tr>
        }
    </tbody>
</table>



